@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Literata&display=swap');
$lato: 'Lato', sans-serif;
$lex: 'Playfair Display', serif;
$maingr: linear-gradient(to right, #D65394, #7C59AF, #3A5BAC, #FF6F61, #D65394);
$txtgr: linear-gradient(to right, #7C59AF, #D65394, #3A5BAC);

html {
	scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.home {
  align-items: center;
  background-image: $maingr;
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0,0,0,.5);
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  justify-content: center;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}

.ghost {
  margin: auto;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 2rem;
  font-family: $lato;
  align-self: space-around;
  padding: 16px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  position: relative;
   -webkit-filter: drop-shadow(0 0 #105ccc);
  filter: drop-shadow(0 0 #105ccc);
  &:before {
    content: '';
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    color: #105ccc;
    background-color: #fff;
    z-index:-2;
    border-radius: 5px;
  }
  &:hover, 
  &:focus-within {
    color: #105ccc;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    &:before {
      -webkit-transition: 0.4s all ease;
      transition: 0.4s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      border-radius: 3px;
    }
  }
}

.nav-button-container {
    display: flex;
    width: 75vw;
}
.title {
    font-family: $lex;
    text-align: center;
    font-size: 7rem;
    color: white;
    text-transform: uppercase;
}

// about 

#about-me {
    background-image: $maingr;
    background-size: 600%;
    background-position: 0 0;
    box-shadow: inset 0 0 5em rgba(0,0,0,.5);
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: center;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: gradients;
}


.ghost-smol {
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1rem;
  font-family: $lato;
  // align-self: space-around;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  position: relative;
   -webkit-filter: drop-shadow(0 0 #105ccc);
  filter: drop-shadow(0 0 #105ccc);
  &:before {
    content: '';
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    color: #105ccc;
    background-color: #fff;
    z-index:-2;
    border-radius: 5px;
  }
  &:hover, 
  &:focus-within {
    color: #105ccc;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    &:before {
      -webkit-transition: 0.4s all ease;
      transition: 0.4s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      border-radius: 3px;
    }
  }
}

.social-container {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  width: 45vw;
  margin: auto;
}

.about-head-txt {
    margin: auto;
    font-family: $lex;
    text-align: center;
    font-size: 4.2rem;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.about-more-txt {
    padding-top: 5%;
    padding-bottom: 1%;
    margin: auto;
    width: 80vw;
    font-family: $lato;
    text-align: center;
    font-size: 3rem;
    color: white;
    line-height: 200%;
}

.about-more-more-txt {
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    width: 80vw;
    font-family: $lato;
    text-align: center;
    font-size: 3rem;
    color: white;
    line-height: 200%;
}

.list-of-tech {
  margin: auto;
  list-style-type: circle;
  color: #fff;
  // text-align: center;
  font-family: $lato;
  font-size: 2rem;
  line-height: 200%;
}
.pic {
    margin: auto;
    background-image: url('./assets/mememe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 320px;
    height: 320px;
}

.about-info {
    margin: auto;
    width: 80vw;
    line-height: 200%;
    text-align: center;
    font-family: $lato;
    font-size: 3.5rem;
    color: #fff;
    padding-top: 15%;
    padding-bottom: 5%;
}

#cool-stuff {
  margin-bottom: 10%;
}
// resume 

#resume {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#resume-link {
  padding-bottom: 20px;
  background: $maingr
  no-repeat; 
  background-size: 100% 5px;
  background-position: 0 80%;
  // background-position: 90% 0;
}
.placeholder-res {
  text-align: center;
  margin: auto;
  width: 80vw;
  font-size: 4rem;
  font-family: $lex;
  background-image: $maingr;
  background-size: 600%;
  background-position: 0 0;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// projects

.projects-sect {
  font-family: $lato;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.scroll-to-see {
  width: 80vw;
  margin: auto;
  text-align: center;
  font-family: $lato;
  font-size: 4rem;
  color: #3A5BAC;
  margin-top: 40vh;
}

.projects-head {
  width: 80vw;
  margin: auto;
  text-align: center;
  font-family: $lex;
  font-size: 8rem;
  text-transform: uppercase;
  margin-bottom: 40vh;
  background-image: $maingr;
  background-size: 600%;
  background-position: 0 0;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-txt {
  margin: auto;
  text-align: center;
  font-family: $lato;
  font-size: 4rem;
  border-bottom: 4px solid #D65394;
  color: #D65394;
  margin-bottom: 5%;
  margin-top: 10%;
}

.plain-txt {
  margin: auto;
  text-align: center;
  font-family: $lex;
  font-size: 5rem;
  color: #D65394;
  margin-bottom: 5%;
  margin-top: 10%;
}

.code-live-container {
  // display: grid;
  // grid-template-columns: 40vw 40vw;
  // justify-items: center;
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  text-align: center;
}

.linky-links {
  margin: auto;
  font-size: 1.5rem;
  color: #3A5BAC;
  border-bottom: 2px #3A5BAC solid;
}

#calc-txt-container {
  margin-top: 3%;
}

.calc-txt-moar {
  margin: auto;
  font-size: 1.5rem;
  line-height: 200%;
}
.first-img {
  margin: auto;
  background-image: url('./assets/1.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}

.second-img {
  margin: auto;
  background-image: url('./assets/2.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}

.third-img {
  margin: auto;
  background-image: url('./assets/3.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}

.fourth-img {
  margin: auto;
  background-image: url('./assets/4.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}

.pic-container {
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: auto;
}
.itunes-pic {
  margin: auto;
  background-image: url('./assets/itunes.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
  width: 80vw;
  align-self: center;
}
.carousel {
  width: 60vw;
  margin: auto;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.proj-description {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  width: 80vw;
  margin: auto;
  font-size: 2rem;
  font-family: $lato;
  line-height: 200%;
}

.slide-instructions {
  color: #9c1006;
  text-align: center;
  width: 80vw;
  margin: auto;
  padding-top: 5%;
  font-size: 1.5rem;
  font-family: $lato;
  line-height: 200%;
}

.blue {
  color: #0927ba;
}

.green {
  color: #228B22;
}

.purple {
  color: #680791;
}

.pink {
  color: #9e10a3;
}

.free-1 {
  margin: auto;
  background-image: url('./assets/free-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}

.free-2 {
  margin: auto;
  background-image: url('./assets/free-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}

.free-3 {
  margin: auto;
  background-image: url('./assets/free-3.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}

@keyframes gradients {
    0%   {background-position: 0 0;}
    25% {background-position: 50% 0;}
    50% {background-position: 90% 0;}
    60% {background-position: 60%;}
    75% {background-position: 40%;}
    100%  {background-position: 0 0;}
}

//calculator 

$lb: #3383b5;
$lbs: #246d9b;
$db: #086199;
$dbs: #055080;


.wrapper {
    display: flex;
    // align-items: center;
    flex-flow: column wrap;
    width: 30vw;
    height: 80%;
    margin: auto;
    // justify-content: center;
  
    position: relative;
  
    $border: 5px;
    background-color: #d1d8e3;
    background-clip: padding-box; 
    border: solid $border transparent; 
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; 
      border-radius: inherit; 
      background: linear-gradient(to right, $lb, $dbs);
    }
  }


.calc-table {
    // width: 50vw;
    // margin: auto;
    display: grid;
    // grid-row-gap: 5%;
    // grid-column-gap: 10%;
    justify-items: center;
}

.table-row {
  display: flex;
}

td {
  margin: auto;
  padding: 3vh;
}

.display-box {
    text-align: right;
    font-family: sans-serif;
    font-size: 3rem;
    height: 3rem;
    width: 25vw;
    // margin: auto;
    border: none;
    border-bottom: 1.5px solid $db;
    background: linear-gradient(to right, $lb, $dbs);
    color: #FFF;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
    0px 8px 13px rgba(0,0,0,0.2),
    0px 18px 23px rgba(0,0,0,0.2);
}

#operator {
    background: $db;
    box-shadow: inset 0 -5px 0 0 $dbs;
    &:active {
      transform: translateY(3px);
      box-shadow: inset 0 -3px 0 0 $dbs;
      transition: 0.2 ease all;
    }
}

.calc-button {
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    outline: none;
    font-size: 1rem;
    background: $lb;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
    0px 8px 13px rgba(0,0,0,0.2),
    0px 18px 23px rgba(0,0,0,0.2);
    width: 50px;
    height: 50px;
    box-shadow: inset 0 -5px 0 0 $lbs;
    &:active:not(#operator) {
      transform: translateY(3px);
      box-shadow: inset 0 -3px 0 0 $lbs;
    }
}

text {
  text-align: center;
  fill: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $lato;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

path {
  fill: transparent;
}

.banner {
    margin: auto;
    background-image: url('./assets/banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40vw;
    height: 30vh;
}
// Text meant only for screen readers.
.all-access {
	clip-path: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
	overflow: hidden;
    position: absolute !important;
}

@media (max-width: 768px) and (orientation: portrait) {

  #resume-link {
    background-size: 100% 3px;
    background-position: 0 65%;
  }

  .linky-links {
    font-size: 1rem;
  }
  .placeholder-res {
    font-size: 2rem;
  }

  .about-head-txt {
    font-size: 2.5rem;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  .social-container {
    margin-top: 10%;
  }

  .ghost-smol {
    margin-left: 12%;
    margin-right: 12%;
    padding: 6px;
    font-size: .8rem;
  }

  .slide-instructions {
    font-size: 0.8rem;
  }
  .pic {
    height: 160px;
    width: 160px;
  }

  .about-info {
    font-size: 1.5rem;
  }

  .about-more-txt {
    font-size: 1.2rem;
  }

  .list-of-tech {
    font-size: 1rem;
  }

  .about-more-more-txt {
    font-size: 1.2rem;
  }

  .scroll-to-see {
    font-size: 1rem;
  }

  .projects-head {
    font-size: 2.5rem;
  }

  .link-txt {
    font-size: 2rem;
    border-bottom: 2px solid #D65394;
  }

  .plain-txt {
    font-size: 2.5rem;
  }

  .proj-description {
    font-size: 1rem;
    padding-top: -5%;
  }

  .carousel {
    width: 80vw;
  }

  .carousel-container {
    width: 100vw;
  }
  .VueCarousel-wrapper {
    height: 30vh;
  }

  // .VueCarousel-inner {
  //   margin: auto;
  // }
  .first-img {
    margin: auto;
    background-size: contain;
  }

  .second-img {
    margin: auto;
    background-size: 100%;
  }

  .third-img {
    margin: auto;
    background-size: 100%;
  }

  .fourth-img {
    margin: auto;
    background-size: 100%;
  }
  .pic-container {
    width: 100vw;
  }
  .itunes-pic {
    height: 30vh;
    background-size: 100%;
  }
  .wrapper {
    width: auto;
  }

  .calc-table {
    width: 50%;
  }

  .display-box {
    width: 55vw;
  }

  td {
    padding: .5vh;
  }
  // .calc-button {
  //   width: 25px;
  //   height: 25px;
  // }
}

.footer-txt {
  text-align: center;
  font-family: $lato;
  font-size: 1rem;
  line-height: 200%;
}

.link {
  border-bottom: 1px solid #9e10a3;
}

.link2 {
  color: #9cc0f0;
  border-bottom: 2.5px solid #9cc0f0;
}
@media (max-width: 830px) {
  .title {
    font-size: 4.5rem;
  }

  .ghost {
      margin: auto;
      font-size: .8rem;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}